<div class="div-form">
  <%= form_with(model: list, local: true) do |form| %>
  <div class="field">
    <%= form.text_area :name, id: :list_name %>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn' %>
    <%= button_to 'Back', lists_path, class: 'btn' %>
  </div>
  <% end %>
</div>
