<%= form_with scope: @task, url: list_tasks_path(@task) do |form| %>

  <div >
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>



