// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.div-task {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  background-color: whitesmoke;
  border: 1px solid;
  .content {
    font-size: 20px;
    display: inline-flex;
  }
  .check{
    border-right: 1px solid lightgray;
  }
  .block{
  }
}


.div-list{
  margin: 15px auto;
  width: 50%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px solid;
  padding: 5px;
  text-align: center;
  justify-content: space-between;
  vertical-align: middle;
  .block{
    float: right;
    display: inline-flex;
    input{
      background-color: transparent;
      border-radius: 15px;
    }

  }
  .header{
    display: inline-flex;
    font-size: 20px;
    font-style: italic;
  }
  background-color: cornflowerblue;
}

.add-btn{
  display: block;
  margin: auto;
  cursor: pointer;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  &:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
}

.div-form{
  padding: 15px;
  background-color: cornflowerblue;
  border-radius: 15px;
  .field{
    width: 100%;
    textarea{
      width: 99%;
      resize: none;
    }
    font-size: 20px;
    font-style: italic;

  }
  .btn {
    cursor: pointer;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    &:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
  }
}

